@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
body{
    background: #141414;
    padding: 40px;
}
/* header nav hero*/
.header__section{
    margin: 0 auto; 
    padding: 0 80px;
    max-width: 1360px;
background: url(img/Background.jpg);
background-position: right;
background-repeat: no-repeat;
background-size: cover;
border-radius: 16px;
}
.header__section hr{
    max-width: 1200px;
    flex-shrink: 0;
    border: 1px solid #282828;
    margin: 0 auto;
}
.nav__section{
    padding: 56px 0;
}
.nav__section nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo__section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo__section .logo{
    width: 142px;
    height: 26px;
    flex-shrink: 0;
    margin-right: 72px;
}
.logo__section .ham__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #FF001D;
    display: inline-flex;
    padding: 15px 16px;
    gap: 8px;
}
.logo__section .ham__menu i{
    width: 17.5px;
    height: 11.5px;
    color: #FFFFFF;
}
.logo__section .ham__menu p{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}
.menu__section{
    display: flex;
}
.menu__section a{
    text-decoration: none;
    color:#FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}
.menu__section .nav__menu{
    margin-right: 72px;
}
.menu__section .nav__menu ul{
    display: flex;
    list-style: none;
    column-gap: 56px;
}

.hero__section{
    margin-top: 119px;
    padding-bottom: 143px;
}
.hero__section .hero__content h2{
    color:#FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 32px;
}

.hero__section .hero__content button{
    padding: 24px 40px;
    margin-right: 16px;
}
.hero__section .hero__content button:first-child,
.hero__section .hero__content button:last-child{
    background-color: #FF001D;
    border-radius: 16px;
    border: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
    color: #fff;
}
.hero__section .hero__content button:last-child{
    border: 1px solid rgba(255, 255, 255, 0.20);
    background-color: transparent;
}
.hero__section .hero__content button:first-child i{
    margin-left: 8px;
}
.hero__section .hero__content button:last-child i::before{
    margin-right: 8px;
}
/* header nav hero*/

/* servcie*/
.service{
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    padding: 16px 0;
    gap: 16px;
    flex-wrap: wrap;
    
}
.service__card{
    flex-basis: 32%;
    background-color: #1E1E1E;
    border-radius: 32px;
    overflow: hidden;
}
.service__card__content{
    display: flex;

}
.service__card__content .card__text{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.service__card__content .card__img{
    flex-basis: 50%;
}
.service__card__content .card__text h3{
    color: #FFF;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 140%; 
padding-left: 40px;
padding-top: 40px;
margin-right: -30px;
}
.service__card__content .card__text p{
    padding-left: 40px;
    padding-bottom: 40px;
    color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 140%;

}
.service__card__content .card__text p span{
    font-size: 24px;
}
.service__card__content .card__img{
    position: relative;
}
.service__card__content .card__img img{
    margin-bottom:-5px;
    width: 247px;
    height: 180px;
}
.service__card__content .card__img i,.service__card__content .card__img p
{
    position: absolute;
    color: #FFFFFF;
    right: 30px;
    bottom: 40px;
}
.service__card__content .card__img p{
    top: 15px;
    right: 70px;

}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .nav__section{
        display: none;
    }
    .service__card {
        flex-basis: 48%;
    }
}

@media screen and (max-width: 480px) {
    .header__section{
        padding: 0px 20px;
    }
    .nav__section{
        display: none;
    }
    .hero__section h2{
        font-size: 42px !important;
    }
    .hero__content button{
        padding: 12px 30px !important;
        margin-top: 10px;
    }
    .hero__content button:last-child{
        padding: 12px 40px !important;
    }
    .service__card {
        flex-basis: 100%;
    }
}